@model List<State>

@{
    ViewBag.Title = "The States";
}

<h2>State List</h2>
<a asp-controller="State" asp-action="Add">Add New State</a>
<div>
    
    @foreach(var state in Model)
    {
        <nav>
            <a asp-controller="State" asp-action="filter"
               asp-route-id="@state.StateId"
               asp-route-slug="@state.Slug">@state.Direction.Name</a>
            </nav>
    }


</div>
<table class="table table-danger table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Direction</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var state in Model)
        {
            <tr>
                <td>@state.Name</td>
                <td>@state.Description</td>
                <td>@state.Direction.Name</td>
                <td>
                    <a asp-controller="State" asp-action="Edit"
                        asp-route-id="@state.StateId"
                    asp-route-slug="@state.Slug">Edit</a>
                    <a asp-controller="State" asp-action="Delete"
                        asp-route-id="@state.StateId"
                    asp-route-slug="@state.Slug">Delete</a>
                </td>
            </tr>
        }

    </tbody>

</table>